.about_me {
  background-color: #C7F2FF;
  padding-top: 20px;
  /* padding-bottom: 40px; */
  /* height: 100vw; */
}



.pic {
  margin-bottom: 40px;
}

.pic>img {
  width: 100%;
}

.text {
  padding: 0 60px;
}

.text>h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 1.5;
}

.text>p {
  font-size: 1.5rem;
  letter-spacing: .15em;
  line-height: 1.2
}

.cover_under_page {
  background-color: #C7F2FF;
}

@media screen and (min-width: 1400px) {
  .about_me {
    height: 61vh;
    padding-top: 30px;
  }

  .container {
    max-width: 1700px;
  }
}