section {
  /* position: relative; */
  padding: 40px 4.6875vw;
  padding-bottom: 20px;
}

:root {
  /* 花瓣路徑，寬100高150 */
  --upper_petal: path('M 50,136.6 L 0,50 A 50,50 0,0,1 100,50 L 50,136.6 z');
  --down_petal: path('M 50,0 L 0,86.6 A 50,50 0,0,0 100,86.6 L 50,0 z');
  /* 花瓣路徑，1.5倍 */
  --upper_petal_bigger: path('M 75,204.9 L 0,75 A 75,75 0,0,1 150,75 L 75,204.9 z');
  --down_petal_bigger: path('M 75,0 L 0,129.9 A 75,75 0,0,0 150,129.9 L 75,0 z');
}

h2 {
  letter-spacing: .1em;
}

h3 {
  letter-spacing: .1em;
}

p {
  letter-spacing: .2em;
}

.more {
  color: #fed857;
  font-size: 1.5rem;
  text-align: right;
  margin-top: 20px;
  text-shadow: 1px 1px darkblue;
}

.more>a:visited {
  color: #fed857;
}

/* ========================================= */
/* 以下課程介紹 */
.introduce_of_course {
  background-color: #84bae6;
  position: relative;
  overflow: hidden;
}

.introduce_of_course>h2 {
  margin-bottom: 40px;
}

.course_image_with_button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.course_image {
  width: 60vw;
}

/* 佔位用圖片 */
.course_image.nothing>.nothing {
  width: 100%;
  opacity: 0;
}

/* 輪播的圖片 */
.course_image.carousel {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  transition: 1000ms;
}

/* 待輪播的圖片 */
.course_image.carousel.hidden {
  opacity: 0;
}

.course_image.carousel.hidden.hidden_left {
  opacity: 0;
  left: -2000px;
}

.course_image.carousel.hidden.hidden_right {
  opacity: 0;
  left: 2000px;
}

.course_image.carousel>img {
  width: 100%;
}


/* 輪播列左右按鈕 */
.btn {
  width: 100px;
  height: 100px;
  font-size: 5.5rem;
  border: 0;
  border-radius: 50%;
  color: #0007;
  background-color: #fff7;
  font-family: "fontawesome";
}

.btn:first-of-type>i {
  position: relative;
  left: -5px;
}

.btn:last-of-type>i {
  position: relative;
  left: 5px;
}


.course_introduce_words {
  width: 89%;
  border-radius: 0.75rem;
  padding: 20px 75px;
  padding-bottom: 30px;
  margin: 10px auto;
  margin-top: 20px;
  font-size: 2.25rem;
  text-align: center;
  background-color: #fff8;
  transition: 1000ms;
}

.course_introduce_words_paragraph {
  font-size: 1.5rem;
  margin-top: 10px;
  padding-bottom: 5px;
  text-align: left;
  line-height: 1.5em;
  text-indent: 1em;
  letter-spacing: 1px;
  background-image: linear-gradient(#fff0 96%, #0002 97%);
  background-size: 100% 1.5em;
}

/* 文字輪播 */
.course_introduce_words.nothing {
  opacity: 0;
}

.course_introduce_words.carousel {
  position: absolute;
}

.course_introduce_words.carousel.hidden {
  opacity: 0;
}

.course_introduce_words.carousel.hidden_left {
  left: -2000px;
}

.course_introduce_words.carousel.hidden_right {
  left: 2000px;
}

/* 以上課程介紹 */
/* ========================================= */
.change_backgraound_front {
  height: 50px;
  background-image: linear-gradient(#84bae6, #6EADDF, #4F96D8);
}

/* ========================================= */
/* 以下作品一覽 */
.introduce_of_masterpiece {
  position: relative;
  overflow: hidden;
  background-color: #4F96D8;
}

/* 小花背景裝飾 */
.background_flower {
  position: absolute;
  /*   border: 1px solid black; */
  width: 25vw;
  height: 25vw;
  top: 20px;
  right: 0;
  background-image: radial-gradient(#Fff2 10%, #0000 20%),
    radial-gradient(ellipse 40% 80%, #fff4 20%, #0000 20%),
    radial-gradient(ellipse 80% 40%, #fff4 20%, #0000 20%),
    radial-gradient(ellipse 40% 80%, #fff4 20%, #0000 20%),
    radial-gradient(ellipse 80% 40%, #fff4 20%, #0000 20%);
  /*     background-size: 200px 200px; */
  background-position: 0 0,
    0 calc(25vw * 0.30),
    calc(25vw * 0.30) 0,
    0 calc(-25vw * 0.30),
    calc(-25vw * 0.30) 0;
  background-repeat: no-repeat;
}

.bgf2 {
  transform: rotate(45deg);
}

.lb_flower {
  top: 50%;
  left: 30px;
}

/* 大花輪播 */
/* FIXME: 大花輪播，之後RWD要大修 */
.big_flower {
  height: 600px;
  width: 600px;
  margin: auto;
  display: grid;
  grid-template: repeat(5, auto)/repeat(5, auto);
}

.big_flower>img:not(.circle_in_flower) {
  width: 100px;
  /*! height: 100px; */
  aspect-ratio: 2/3;
  object-fit: cover;
}

.big_flower>img:nth-child(even) {
  aspect-ratio: 1/1;
  width: 150px;
}

.big_flower>img:nth-child(4n+1) {
  aspect-ratio: 3/2;
  width: 150px;
}

.big_flower>img:first-child {
  grid-column: 2/5;
  grid-row: 2/5;
  width: 300px;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

.big_flower_petal_top_left {
  grid-column: 1;
  grid-row: 1;
  clip-path: var(--upper_petal);
  transform: translate(130px, 50px) rotate(-45deg);
  transform-origin: 50px 136.6px;
}

.big_flower_petal_top {
  grid-column: 3;
  grid-row: 1;
  clip-path: var(--upper_petal);
}

.big_flower_petal_top_right {
  grid-column: 5;
  grid-row: 1;
  clip-path: var(--upper_petal);
  transform: translate(-80px, 43px) rotate(45deg);
  transform-origin: 50px 136.6px;
}

.big_flower_petal_right {
  grid-column: 5;
  grid-row: 3;
  clip-path: path('M 0,50 L 86.6,0 A 50,50 0,0,1 86.6,100 L 0,50 z');
  transform: translate(15px)
}

.big_flower_petal_bottom_right {
  grid-column: 5;
  grid-row: 5;
  clip-path: var(--down_petal);
  transform: translate(-84px, -30px) rotate(-45deg);
  transform-origin: 50px top;
}

.big_flower_petal_bottom {
  grid-column: 3;
  grid-row: 5;
  clip-path: var(--down_petal);
  transform: translate(0, 15px)
}

.big_flower_petal_bottom_left {
  grid-column: 1;
  grid-row: 5;
  clip-path: var(--down_petal);
  transform: translate(130px, -30px) rotate(45deg);
  transform-origin: 50px top;
}

.big_flower_petal_left {
  grid-column: 1;
  grid-row: 3;
  clip-path: path('M 136.6,50 L 50,100 A 50,50 0,0,1 50,0 L 136.6,50 z');
}

@media screen and (min-width:1500px) {
  .big_flower {
    height: 900px;
    width: 900px;
  }

  .big_flower>img:not(.circle_in_flower) {
    width: 150px;
  }

  .big_flower>img:nth-child(even) {
    width: 225px;
  }

  .big_flower>img:nth-child(4n+1) {
    width: 225px;
  }

  .big_flower>img:first-child {
    width: 450px;
  }

  .big_flower_petal_top_left {
    clip-path: var(--upper_petal_bigger);
    transform: translate(195px, 75px) rotate(-45deg);
    transform-origin: 75px 204.9px;
  }

  .big_flower_petal_top {
    clip-path: var(--upper_petal_bigger);
  }

  .big_flower_petal_top_right {
    clip-path: var(--upper_petal_bigger);
    transform: translate(-120px, 64.5px) rotate(45deg);
    transform-origin: 75px 204.9px;
  }

  .big_flower_petal_right {
    clip-path: path('M 0,65 L 129.9,0 A 65,65 0,0,1 129.9,150 L 0,65 z');
    transform: translate(22.5px)
  }

  .big_flower_petal_bottom_right {
    clip-path: var(--down_petal_bigger);
    transform: translate(-126px, -45px) rotate(-45deg);
    transform-origin: 75px top;
  }

  .big_flower_petal_bottom {
    clip-path: var(--down_petal_bigger);
    transform: translate(0, 22.5px)
  }

  .big_flower_petal_bottom_left {
    clip-path: var(--down_petal_bigger);
    transform: translate(195px, -45px) rotate(45deg);
    transform-origin: 75px top;
  }

  .big_flower_petal_left {
    clip-path: path('M 204.9,75 L 75,150 A 75,75 0,0,1 75,0 L 204.9,75 z');
  }
}



/* 以上作品一覽 */
/* ========================================= */
.change_backgraound_back {
  height: 50px;
  background-image: linear-gradient(#4F96D8, #357ECD);
}

/* ========================================= */
/* 以下技法介紹 */
.introduce_of_skill {
  /* background-color: var(--skill_color); */
  background-color: #357ECD;
  /* color: #f0f0f0; */
  color: #e3e3e3;
  text-shadow: 1px 1px 0px #000
}



.skill_pic_and_intro_and_roulette {
  display: grid;
  grid-template-columns: auto 1fr;
  /* grid-template-rows: 1fr 1fr; */
  column-gap: 4rem;
  row-gap: 1.5rem;

}

.skill_roulette {
  grid-column: 1;
  grid-row: 1;
  display: flex;
  align-items: center;
  /* height: 100px;
  width: 100px; */
  /* border-radius: 50%;
  border: 1px solid #000; */
}

/* 花瓣輪盤 */
/* FIXME: 花瓣輪盤，之後RWD要大修 */
.flower_roulette {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  /* border: 1px solid #000; */
  font-size: 0;
  height: 300px;
  aspect-ratio: 1/1;
  margin: auto;
}

.flower_roulette>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flower_roulette>img:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  clip-path: var(--upper_petal);
  transform: translate(83px) rotate(-60deg);
  filter: brightness(40%);
  transform-origin: center 136.6px;
}

.flower_roulette>img:nth-child(2) {
  grid-column: 2;
  grid-row: 1;
  clip-path: var(--upper_petal);
}

.flower_roulette>img:nth-child(3) {
  grid-column: 3;
  grid-row: 1;
  clip-path: var(--upper_petal);
  transform: translate(-83px) rotate(60deg);
  filter: brightness(40%);
  transform-origin: center 136.6px;
}

.flower_roulette>img:nth-child(4) {
  grid-column: 1;
  grid-row: 2;
  clip-path: var(--down_petal);
  transform: translate(83px) rotate(60deg);
  filter: brightness(40%);
  transform-origin: top center;
}

.flower_roulette>img:nth-child(5) {
  grid-column: 2;
  grid-row: 2;
  filter: brightness(40%);
  clip-path: var(--down_petal);
}

.flower_roulette>img:nth-child(6) {
  grid-column: 3;
  grid-row: 2;
  clip-path: var(--down_petal);
  transform: translate(-83px) rotate(-60deg);
  filter: brightness(40%);
  transform-origin: top center;
}

@media screen and (min-width:1500px) {
  .flower_roulette {
    height: 450px;
  }

  .flower_roulette>img:nth-child(1) {
    clip-path: var(--upper_petal_bigger);
    transform: translate(124.5px) rotate(-60deg);
    transform-origin: center 204.9px;
  }

  .flower_roulette>img:nth-child(2) {
    clip-path: var(--upper_petal_bigger);
  }

  .flower_roulette>img:nth-child(3) {
    clip-path: var(--upper_petal_bigger);
    transform: translate(-124.5px) rotate(60deg);
    transform-origin: center 204.9px;
  }

  .flower_roulette>img:nth-child(4) {
    clip-path: var(--down_petal_bigger);
    transform: translate(124.5px) rotate(60deg);
    transform-origin: top center;
  }

  .flower_roulette>img:nth-child(5) {
    clip-path: var(--down_petal_bigger);
  }

  .flower_roulette>img:nth-child(6) {
    clip-path: var(--down_petal_bigger);
    transform: translate(-124.5px) rotate(-60deg);
    transform-origin: top center;
  }
}

/* --------- */
.skill_intro {
  grid-column: 1;
  grid-row: 2;
  background-color: #fff4;
  border-radius: 0.75rem;
  padding: 40px;
}

.skill_intro h3 {
  font-size: 2rem;
}

.skill_intro p {
  font-size: 1.5rem;
  line-height: 1.5em;
  font-weight: 300;
  margin-top: 20px;
  white-space: pre-line;
}

.skill_pic {
  grid-column: 2;
  grid-row: 1/3;
}

.skill_pic img {
  width: 50vw;
  border-radius: 1em;
  /* clip-path: path('M 100,273 L 0,100 A 100,100 0,0,1 200,100 L 100,273 z'); */

}

/* 以上技法介紹 */
/* ========================================= */
.cover_under_page {
  background-color: var(--skill_color);
}

.cover_line_message {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url(../img/LINE_APP_Android.png);
  opacity: 1;
  position: fixed;
  right: 20px;
  bottom: 90px;
}

.cover_line_message::after {
  content: "歡迎聯絡";
  display: block;
  font-size: 1.25rem;
  position: fixed;
  bottom: 105px;
  right: 80px;
  background-color: #fff4;
  /* border: 1px solid #000; */
}

.line_message {
  display: block;
  width: 50px;
  height: 50px;
}

.go_to_top {
  background-color: #fff;
  opacity: 0.5;
  font-family: "fontawesome";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: fixed;
  bottom: 20px;
  right: 20px;
}