* {
  box-sizing: border-box;
  font-size: 2rem;
}

:root {
  --course_color: #84bae6;
  --masterpiece_color: #4F96D8;
  --skill_color: #357ECD;
  --main_padding_LR: 4.6875vw;
}

body {
  position: relative;
  font-family: "Noto Sans TC",
    "Roboto",
    sans-serif,
    serif;
  font-size: 16px;
  font-weight: 500;
  color: #1c1c1c;
}

a {
  text-decoration: none;
}

a:visited {
  color: #1a388c;
}

/* 以下header */
/* ----------------------------------- */

.top_of_page {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  padding-right: 4.6875vw;
  padding-left: 1vw;
  background-color: #C7F2FF;
}

.h1 {
  position: absolute;
  z-index: -1;
  color: #ccc;
  opacity: 1%;
}

.link_of_logo {
  display: inline-block;
  width: 10%;
  min-width: 80px;
}



.logo {
  width: 100%;
  /* height: 180px; */
}

.nav_h2 {
  z-index: -1;
  position: absolute;
  color: #ccc;
  opacity: 1%;
}

.nav {
  /* height: 32px; */
  margin: auto auto;
  color: #1a388c;
  font-size: 2rem;
  margin-right: 0;
  display: inline-block;
  text-align: right;
}

.nav * {
  display: inline-block;
}

.other_page {
  font-size: 0;
}

.other_page>li {
  font-size: 2rem;
  margin: 0 3.125vw;
}

.other_page>li:first-of-type {
  margin-left: 0;
}

.other_page>li:last-of-type {
  margin-right: -20px;
}

.other_page>span {
  display: inline;
  vertical-align: text-bottom;
  font-size: 2rem;
}

.other_page>li>a {
  padding: 5px 20px;
}


/*       以上header */
/* ------------------------------------ */
/*       以下footer */

.under_page {
  border-radius: 0.75rem;
  padding: 30px;
  padding-bottom: 5px;
  background-color: #fff7;
}

.cover_address_and_icon {
  width: 100%;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-evenly;
}

.cover_address_and_icon>div {
  width: 450px;
}

.address_and_tel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cover_bussines_icon>p {
  margin-bottom: 10px;
}

.bussines_icon {
  width: 50px;
  height: 50px;
  margin: 0 20px;
}

.under_page p {
  font-size: 1.25rem;
}

.front_of_copyright {
  text-align: center;
}

.copyright {
  font-size: 12px;
  vertical-align: middle;
}

/*      以上footer */
/* ----------------------------------- */