body {
  font-size: 1.5rem;
}

.skill {
  background-color: #357ECDe5;
}

.container {
  padding: 50px 40px 40px;
  /* max-width: 1713px; */
}

.text h2 {
  font-size: 2rem;
  line-height: 3;
  background-color: #fff9;
  border-radius: 1em 1em 0 0;
  padding-left: 30px;
}

.text p {
  border-radius: 0 0 1em 1em;
  background-color: #fff9;
  line-height: 1.5;
  padding: 30px;
  padding-top: 0;
}

.row {
  margin-bottom: 70px;
}

.row:last-child {
  margin-bottom: 20px;
}

.row:nth-child(even) {
  flex-direction: row-reverse;
  /*   padding-right: 40px; */
}

.pic>img {
  width: 100%;
  outline: 4px double #1c68c0aa;
}

/* .text{
  background-color: #fff9;
  border-radius: 1em;
} */
.row:nth-child(odd) .text {
  padding-left: 60px;
}

.row:nth-child(even) .text {
  padding-right: 60px;
}

.cover_under_page {
  background-color: #1c68c0aa;
}